// FONT
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

// VARIABLES

$default-margin-padding: 20px;
$max-width: 480px;
$text-color: #777;
$shadow-color: #CCC;
$primary-color: #6cba4e;

// MIXINS

@mixin default-padding {
  padding: $default-margin-padding;
}

@mixin radius-content {
  border-top-left-radius: $default-margin-padding;
  border-top-right-radius: $default-margin-padding;
}

@mixin fixed-floating-width {
  width: 85%;
  max-width: calc(480px - 60px);
}

@mixin fixed-center {
  left: 50%;
  transform: translate(-50%);
}

// TYPOGRAPHY

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

// MAIN APP
.App {

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;

  // APP CONTAINER 
  &-container {
    width: 100%;
    min-height: 100%;
    max-width: $max-width;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    position: relative;
  }

  // APP HEADER 
  &-header {
    @include default-padding;
    background-color: $primary-color;
    height: 220px;
    color: #FFF;
  }

  // APP MENU
  &-menu {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .anticon {
      svg {
        height: 26px;
        width: 26px;
      }
    }
    // APP MENU DATE
    &-date {
      margin-top: 2px;
    }
  }

  // APP CONTENT
  &-content {
    @include radius-content;
    background-color: #FFF;
    color: $text-color;
    min-height: calc(100vh - 220px);
    margin-top: -$default-margin-padding;
    overflow: hidden;
    @include default-padding;

    // APP CONTENT RECIPES
    &-recipes {
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      &-title { margin-top: 0; }
      &-list {
        width: auto;
        overflow-x: scroll;
        display: flex;
      }
    }

    // APP CONTENT INGREDIENTS
    &-ingredients {
      &-title {
        display: flex;
        justify-content: space-between;
        small {
          text-transform: lowercase;
          color: red;
        }  
      }
    }

  }

  // APP RECIPE
  &-recipe {
    height: 180px;
    width: 200px;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  // APP INGREDIENTS
  &-ingredient {
    padding: 15px 0;
    position: relative;
    small {
      color: $shadow-color;
      font-size: 10px;
      margin-left: 10px;
    }
    input[type="checkbox"] {
      position: absolute;
      right: 10px;
      top: 15px;
      height: 18px;
      width: 18px;
      background-color: transparent;
    }
    &:first-child {
      padding-top: 0;
      input[type="checkbox"] {
        top: 5px;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #EFEFEF;
    }
  }

  // APP MODAL
  &-modal {
    
    z-index: 1;
    position: fixed;
    min-height: 10px;
    @include fixed-center;
    
    // APP MODAL FLOATING
    &-floating {

      @include radius-content;
      @include fixed-floating-width;
      bottom: 30px;
      border-radius: 50px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      background-color: $primary-color;
      display: none;
      &.show {
        display: block;
      }

    }

    // APP MODAL OVERLAY
    &-overlay {
      display: none;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      height: 100vh;
      bottom: 0;
      z-index: 10;

      &.show {
        display: block;
      }

      // APP MODAL CONTENT ON OVERLAY 
      .App-modal-content {
        @include radius-content;
        background-color: #FFF;
        width: 100%;
        max-width: $max-width;
        min-height: 10px;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $default-margin-padding;
        text-align: center;
      }

    }

    &-datepicker {
      
      display: none;
      height: 100vh;
      width: 100%;
      max-width: $max-width;
      position: fixed;
      top: 0;
      @include fixed-center;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 12;

      &-content {
        height: 375px;
        width: 300px;
        position: fixed;
        top: 20%;
        @include fixed-center;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
        &-buttons {
          margin-top: 20px;
          a {
            color: $text-color;
            text-decoration: none;
            &:not(:last-child) {
              color: $primary-color;
              margin-right: 30px;
            }
          }
        }
      }

      &.show {
        display: block;
      }

    }

    // APP MODAL RECOMENDATION RECIPE
    .recomendation-recipe {

      &-title {
        @include default-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
      }

      &-list {
        position: fixed;
        bottom: calc(30px + 50px);
        background-color: #fff;
        border-radius: $default-margin-padding;
        @include default-padding;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
      }

      &-item{
        border-bottom: 1px solid #EFEFEF;
        padding: 15px 0;
        display: flex;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        &-info {
          width: 70%;
        }
        &-image {
          height: 60px;
          width: 60px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          background-size: cover;
          margin-right: 15px;
        }
        &-name {
          margin: 0 0 5px;
          color: $primary-color;
        }
        &-ingredients{
          color: $text-color;
          font-size: 12px;
          line-height: 180%;
          margin: 0;
        }
      }
    }

    // APP MODAL RECIPE
    .recipe {
      padding-bottom: 15px;
      text-align: left;
      &-image {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
      }
      &-name {
        h3 {
          color: $primary-color;
        }
      }
      &-ingredients {
        color: $text-color;
      }
    }

    // APP MODAL CLOSE
    &-close {
      margin-top: -25px;
      margin-bottom: 10px;
      color: $text-color;
      .anticon {
        svg {
          height: 30px !important;
          width: 30px !important;
        }
      }
    }

  }

  // APP TOAST
  &-toast {
    position: fixed;
    @include fixed-floating-width;
    @include fixed-center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: -60px;
    z-index: 100;
    color: white;
    font-size: 12px;
    padding: $default-margin-padding;
    border-radius: $default-margin-padding;
    transition: bottom 1s;
    &.show {
      bottom: 30px;
    }
  }

  // APP ASIDE
  &-aside {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -220px;
    width: 220px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 11;
    transition: left 0.5s;
    padding: $default-margin-padding;
    color: $text-color;
    &-title {
      text-align: right;
      .anticon {
        svg{
          height: 20px !important;
          width: 20px !important;
        }
      }
    }
    &-body {
      margin-top: 60px;
      text-align: center;
      h3 { color: $text-color; }
      a {
        text-decoration: none;
        color: $primary-color;
        &:not(:last-child) {
          margin-right: 10px;
        }
        .anticon {
          margin-right: 5px;
          svg{
            height: 22px !important;
            width: 22px !important;
          }
        }
      }
    }
    &.show {
      left: 0;
    }
  }
}

// GENERALS 

.mt-30 { margin-top: 30px; }

.color-primary { color: $primary-color }
.color-grey { color: $text-color }
.color-light-grey { color: $shadow-color }

.datepicker {
  display: none;
}

// REACT DATE PICKER

.react-datepicker {
  border: none !important;
  font-family: 'Quicksand', sans-serif !important;
  &__header {
    background-color: rgba(108,186,78, 1) !important;
    border-bottom: none !important;
    div {
      color: white !important;
    }
  }
  &__day--selected {
    background-color: $primary-color !important;
  }
  &__navigation {
    &--previous {
      border-right-color: white !important;
      &:hover {
        border-right-color: white !important;
      }
    }
    &--next {
      border-left-color: white !important;
      &:hover {
        border-left-color: white !important;
      }
    }
  }
}

// RESPONSIVE

@media (max-width: 414px) {

  // MAIN APP
  .App {

    font-size: 0.9em;

    // APP RECIPE
    &-recipe {
      height: 130px;
    }

    // APP MODAL
    &-modal {
      // APP MODAL CONTENT
      &-content {
        .recipe {
          &-image {
            height: 200px;
          }
        }
        bottom: 0;
        left: 0;
      }

      // APP MODAL CLOSE
      &-close {
        margin-top: -25px;
        margin-bottom: 10px;
        color: $text-color;
        .anticon {
          svg {
            height: 25px !important;
            width: 28px !important;
          }
        }
      }
    }
  }

  // GENERALS ANT ICON
  .anticon {
    svg {
      height: 22px !important;
      width: 22px !important;
    }
  }

}

@media (min-width: 415px) {
  // MAIN APP
  .App {

    // APP MODAL
    &-modal {

      // APP MODAL OVERLAY
      &-overlay {

        // APP MODAL CONTENT
        .App-modal-content {
          @include fixed-center;
          left: 50% !important;
        }

      }
    }
  }

}